<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
   
    <title>Félix Ugarte</title>
  </head>
  <body class="container-fluid" >
    <%- include("./partials/header") %>
    <main class="bg-dark text-white  ">
    
      <section class="row">
        <h3 class="pt-3 pb-0 m-3 text-center">Acerca de mi</h3>
            
  <p class="d-inline-flex justify-content-center text-center fs-5 p-3">
    Graduado en Desarrollo Web Full Stack. 
    Encantado con el mundo del desarrollo, 100% enfocado en continuar aprendiendo nuevos lenguajes entendiendo que es fundamental para mantenerse siempre actualizado para las actuales y las futuras demandas tecnológicas.
    Apasionado y buscando continuos desafíos en mi vida. <br> Dispuesto a encarar nuevos proyectos adaptándome siempre a lo requerido por el cliente y buscando dar el mejor servicio.
    En cada proyecto que se lleve a cabo, espero lograr transmitir eficazmente todo el conocimiento y herramientas obtenidas en mi formación. <br>
    Siempre abierto a aprender de mis compañeros, a ayudar y brindar todo lo mejor de mi.
    
  </p>

    
      </div>
    </section>
      </section class="container-fluid ">
      <h3 class="p-3">Conocimientos técnicos y hablidades</h3>
      <ul>
        <h5>Maqueteador web</h5>
        <li>Planificación y estimación de desarrollo de la página a realizar </li>
        <li>Traducción del diseño de una página web a componentes web.</li>
        <li>Manejo de interacciones del usuario y animaciones de la interfaz.</li>
        <li>Implementar en el desarrollo buenas prácticas (responsive, UX).</li>
      </ul>
        <ul>
        <h5>Desarrollo Frontend</h5>
        <li>Manejo de conexiones asíncronas con Ajax y/o Fetch.</li>
        <li>Uso de Session y Cookies para almacenado de información.</li>
        <li>Implementación de validaciones en JavaScript para formularios.</li>
        <li>Mantenimiento y resolución de errores de la página.</li>
        <li>Colaborar con los desarrolladores Backend.</li>
      </ul>
      <ul>
        <h5>Desarrollador backend</h5>
        <li>Planificación y estimación del desarrollo del servidor web.</li>
        <li>Creación y puesta en marcha de un servidor web.</li>
        <li>Análisis, diseño e implementación de un sistema de base de
          datos.</li>
        <li>Mantenimiento y resolución de errores.</li>
        <li>Autenticación y manejo de sesiones de usuarios.</li>
        <li>Manejo de conexiones asíncronas a servicios web.</li>
        <li>Integración con otras plataformas mediante apis.</li>
        <li>Uso de Session y Cookies para almacenado de información.</li>
        <li>Colaborar con los desarrolladores Frontend.</li>
      </ul>
      <div class="container-fluid">
        <div class="row">
      <ul class="list-group list-group-flush col-md-5">
        <li class="list-group-item bg-dark text-white">Node JS</li>
        <li class="list-group-item bg-dark text-white">React</li>
        <li class="list-group-item bg-dark text-white">Express</li>
        <li class="list-group-item bg-dark text-white">HTML</li>
        <li class="list-group-item bg-dark text-white">CSS</li>
        <li class="list-group-item bg-dark text-white">Javascript</li>
        <li class="list-group-item bg-dark text-white">MySQL</li>
      </ul>
      <ul class="list-group list-group-flush col-md-5 ">
        <li class="list-group-item bg-dark text-white">Creación y consumo de APIs</li>
        <li class="list-group-item bg-dark text-white">Git</li>
        <li class="list-group-item bg-dark text-white">Metodologías Ágiles - Scrum</li>
        <li class="list-group-item bg-dark text-white">Patrón de arquitectura MVC</li>
        <li class="list-group-item bg-dark text-white">Postman</li>
        <li class="list-group-item bg-dark text-white">Sequelize</li>
        <li class="list-group-item bg-dark text-white">VSCODE</li>
      </ul>
      </div>
    </div>
      <section>

     
    </main>
    <%- include("./partials/footer") %>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
